*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea
lint
app/release

# is copied by gradle plugin task
app/src/main/assets/LICENSE
app/src/main/assets/QR_code_guide.md
app/src/main/assets/PRIVACY_POLICY.md